* {
  -webkit-box-sizing: border-box; /* stylelint-disable-line property-no-vendor-prefix */
  -moz-box-sizing: border-box; /* stylelint-disable-line property-no-vendor-prefix */
  box-sizing: border-box;
}
